.home {
  background-color: #fff7f7ad;
}

.home__title {
  font-family: var(--title-font);
  color: var(--dark-steel-blue);
}
.image-background {
  height: 100%;
  position: relative;
  font-family: Raleway, HelveticaNeue, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}
h2 {
  font-family: Raleway, HelveticaNeue, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}
.logo-british {
  opacity: 1;
  position: absolute;
  /* width: 30%; */
  height: 100%;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: -1;
}
